* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Press Start 2P", "Arial", sans-serif;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(2rem, 6vh, 5rem);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.75rem, 4vh, 5rem);
}

#game-title {
  font-size: clamp(2.5rem, 8vw, 4rem);
}

.scoreboard {
  display: flex;
  justify-content: center;
  
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: bold;
}

.turn {
  background-color: rgb(87, 87, 255);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  width: clamp(18rem, 70vw, 25rem);
  aspect-ratio: 1 / 1;

  border-radius: 1.5rem;
  background-color: rgb(87, 87, 255);

  gap: 0.5rem;
  padding: 1rem;
}

.game-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  border: none;

  font-size: clamp(3rem, 12vw, 6rem);
  font-weight: bold;
  font-family: "Press Start 2P", "Arial", sans-serif;
}

footer {
  text-align: center;
}

.restart-button {
  padding: 1rem 2rem;

  border-radius: 0.5rem;
  border: none;
  background-color: rgb(87, 87, 255);
  color: #ffffff;

  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Press Start 2P", "Arial", sans-serif;
  font-weight: bold;
}